<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      defer
    ></script>
    <script src="./javascripts/admin.js" defer></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="./stylesheets/dashboard.css"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <button onclick="category()" type="button" id="cat">Get Category</button>
      <button onclick="users()" type="button" id="getBooking">
        Get All Users
      </button>
      <button onclick="bookings()" type="button" id="profile">Get Bookings</button>
      <button onclick="profile()" type="button" id="profile">Get Profile</button>
      <button onclick="logout()" type="button" id="logout">Logout</button>
    </div>
    <div>
      <% if(data.categories) { %>
      <button onclick="addnewcategory()" style="margin-top: 50px">
        Add new Category
      </button>
      <% data.categories.forEach(el => { %>
      <div class="card" style="margin-top:10px;background-color:cornsilk;">
        <h3><%= el.categoryName %>
          <button onclick="onSelectCategory('<%= el._id %>')" style="background-color:darkgray;float:left;" style="float:right;">services</button>
          <button style="background-color:darkgray;float:right;" onclick="oncategorydelete('<%= el._id %>')">Delete</button>
        </h3>
      </div>
      <% }) %> <%}%>
    </div>
    <div style="margin-top: 40px; display: none" id="addcategory">
      <h3 style="text-align: center">Add Category</h3>
      <label style="margin-left: 40%"
        >Name : <input type="text" id="categoryName"
      /></label>
      <button onclick="onaddcategory()">Add</button>
    </div>

    <div id="displayservices">
       <% if(data.services) { %>
      <button onclick="addservice()" style="float: right; margin-top: 30px; margin-right:30px;">
          Add new Service
      </button>   
       <% data.services.forEach(el => { %>
      <div
        style="float: left;margin-top: 100px; background-color:cornsilk; margin-left:80px;"
        class="card1"
      >
        <h1><%= el.serviceName %></h1>
        <p><%= el.serviceDescription %></p>
        <p>price : <%= el.servicePrice %></p>
        <p>time : <%= el.serviceTime %></p>
        <p>
          <button onclick="onselectVendor('<%= el._id %>')">Vendors</button>
          <button onclick="onservicedelete('<%= el._id %>','<%= el.categoryId %>')">Delete</button>
        </p>
      </div>
      <% }) %>
      <% } %>
    </div>

    <div style="display: none; margin-top:400px;" id="addservice">
      <label style="margin-left: 40%; margin-top:20px;"
        >Name : <input type="text" id="servicename"
      /></label>
      <label style="margin-left: 40%;"
        >Price : <input type="number" id="serviceprice"
      /></label>
      <label style="margin-left: 40%;"
        >serviceDescription : <input type="text" id="servicedescription"
      /></label>
      <label style="margin-left: 40%;"
        >serviceTime : <input type="time" id="servicetime"
      /></label>
      <button onclick="onaddservice('<%= data.categoryid %>')">
        Add service
      </button>
    </div>
    <div id="displayvendors">
      <% if(data.vendors) { %> <% data.vendors.forEach(el => { %>
      <div style="margin-top: 50px; margin-left: 30px" class="vendorcard">
        <img
          src="./images/user.png"
          alt="Avatar"
          style="width: 40%; margin-left: 30%"
        />
        <div class="container">
          <h4 style="text-align: center"><b><%=el.userName%></b></h4>
          <p style="text-align: center"><%=el.userMobile%></p>
          <p style="text-align: center"><%=el.userAddress%></p>
        </div>
      </div>
      <% })} %>
    </div>

    <div id="displayusers">
      <% if(data.users) { %> 
        <table id="customers" style="margin-top:50px;">
          <tr>
            <th>userName</th>
            <th>userMobile</th>
            <th>userEmail</th>
            <th>userAddress</th> 
            <th>userRole</th>
            <th>isActive</th>
            <th>Action</th>
            <th>Bookings</th>
          </tr> 
      <% data.users.forEach(el => { %>
        <tr>
          <td><%= el.userName %></td>
          <td><%= el.userMobile %></td>
          <td><%= el.userEmail %></td>
          <td><%= el.userAddress %></td>
          <td><%= el.userRole %></td>
          <td><%= el.isActive %></td>
          <td>
          <% if(el.isActive) { %>
          <button onclick="onBlockUnblock('<%= el._id %>',false)">block</button>
          <% }
           else {%>
            <button onclick="onBlockUnblock('<%= el._id %>',true)">unblock</button>  
          <% } %>
         </td>
         <td><button onclick="bookings('<%= el._id %>')">Bookings</button></td>
        </tr>
      <% })} %>
        </table>
    </div>

    <div id="displaybookings">
      <% if(data.bookings) { %>
        <button onclick="onbookingstatus('pending','<%= data.user %>')" style="margin-top:20px; margin-left:10px; background-color:darkgray;">pending</button>
        <button onclick="onbookingstatus('accepted','<%= data.user %>')" style="margin-top:20px; margin-left:10px; background-color:darkgray;">accepted</button>   
        <button onclick="onbookingstatus('inprogress','<%= data.user %>')" style="margin-top:20px; margin-left:10px; background-color:darkgray;">inprogress</button>   
        <button onclick="onbookingstatus('cancelled','<%= data.user %>')" style="margin-top:20px; margin-left:10px; background-color:darkgray;">cancelled</button>   
        <button onclick="onbookingstatus('completed','<%= data.user %>')" style="margin-top:20px; margin-left:10px; background-color:darkgray;">completed</button>   
       
        <table id="customers" style="margin-top:20px;">
          <tr>
            <th>bookingDate</th>
            <th>bookingTime</th>
            <th>userName</th>
            <th>userMobile</th>
            <th>vendorName</th> 
            <th>vendorMobile</th>
            <th>serviceName</th>
            <th>servicePrice</th>
            <th>qty</th>
            <th>totalPrice</th>
            <th>bookingStatus</th>
          </tr> 
        <% data.bookings.forEach(el => { %>
          <tr>
            <td><%= el.bookingDate %></td>
            <td><%= el.bookingTime %></td>
            <td><%= el.userId.userName %></td>
            <td><%= el.userId.userMobile %></td>
            <td><%= el.vendorId.userName %></td>
            <td><%= el.vendorId.userMobile %></td>
            <% if(!el.serviceId){ %>
              <td>Deleted</td>
              <td>0</td>
            <%}else{%>
            <td><%= el.serviceId.serviceName %></td>
            <td><%= el.serviceId.servicePrice %></td>
           <% } %>
            <td><%= el.qty %></td>
            <td><%= el.totalPrice %></td>
            <td><%= el.bookingStatus %></td>   
          </tr>
        <%})
         } %> 
    </div>

    <div id="displayprofile">
        <% if(data.profile) { %>
          <h2 style="text-align:center; margin-top:30px;">Profile</h2>
          <label style="margin-left:40%;margin-top:10px;">UserName : <input id="username" type="text" value='<%= data.profile.userName %>'> </label>
          <label style="margin-left:40%;margin-top:10px;">UserMobile : <input id="usermobile" type="text" value='<%= data.profile.userMobile %>'> </label>
          <label style="margin-left:40%;margin-top:10px;">UserAddress : <input id="useraddress" type="text" value='<%= data.profile.userAddress %>'> </label>
          <button onclick="onupdateprofile()" style="margin-left:50%;margin-top:10px;">Update</button>
       <% }%>
    </div>



  </body>
</html>
